<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">RuBBS</a>
</nav>
<div class="container">
  <div class="row">
    <h2 class="col-md-8 col-xs-12 offset-md-2">スレッド一覧</h2>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <ul class="list-group">
        <% @boards.each do |board| %>
          <div class="list-group-item" style="display: inline">
            <a href=<%=show_path(board.id) %>>
              <%= board.title %>
            </a>
            <%= form_tag(destroy_path(board.id), method: :delete, class: "form-inline", form: "display: inline") do %>
              <div class="form-group">
                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <i class="fas fa-trash-alt text-danger"></i>・・・スレッドの削除
    </div>
  </div>

  <div class="row mt-5">
    <h4 class="col-md-8 col-xs-12 offset-md-3">スレッドを作成する</h4>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <%= form_tag('/', class: "form-inline") do %>
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="タイトル">
          <button type="submit" class="btn btn-outline-primary">スレッドを作成</button>
        </div>
      <% end %>
    </div>
  </div>
</div>